.button {
    min-width: 120px;
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
    color: #000;
    border: 0;
}

.primary {
    background: teal;
    color: #fff;
}

.secondary {
    background: #eee;
    color: #000;
}